.appointment-inputs {
  max-width: 50%;
  margin: 0 auto;
  padding: 30px;
}

.appointment-form h3 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.appointment-form h5 {
  color: tomato;
  padding: 20px;
}

.appointment-form {
  background: #0e101c;
  /* max-width: 90%; */
  margin: 0 auto;
  height: vh-100;
}

.appointment-form p {
  color: #bf1650;
}

.appointment-form p::before {
  display: inline;
  content: "⚠ ";
}

.appointment-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.appointment-form label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.appointment-form button[type="submit"],
.appointment-form input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.appointment-form button[type="submit"]:hover,
.appointment-form input[type="submit"]:hover {
  background: #bf1650;
}

.appointment-form button[type="submit"]:active,
.appointment-form input[type="button"]:active,
.appointment-form input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.appointment-form input:disabled {
  opacity: 0.4;
}

.appointment-form input[type="button"]:hover {
  transition: 0.3s all;
}

.appointment-form button[type="submit"],
.appointment-form input[type="button"],
.appointment-form input[type="submit"] {
  -webkit-appearance: none;
}

.appointment-form button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.appointment-form hr {
  margin-top: 30px;
}

.appointment-form button {
  display: block;
  font-weight: bold;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
